/* Announcement css starts  here */

.contain, h1, h2, p {
    margin: 0;
    padding: 8px;
    position: relative;
    right: -2px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.contain {
    max-width: 79%;
    max-height: 95%;
    margin: 20px auto;
    padding: 20px;
    background-color: #91cf8b;
    display: flex;
    justify-content: space-between;
    position: relative;
    right: -130px;
    bottom: -160px;
}

.events .announcement .contact {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.contain:hover {
    transform: scale(1.02);
}

h2 {
    color: #135c10;
}


